.contentItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 4px;
    background: var(--gray-500);
    padding: 1rem;
    border-radius: 8px;
    min-width: 46rem;
}
.contentItem p {
    flex-wrap: wrap;
    max-width: 680px;
    color: var(--gray-200);
}
.contentItem button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 4px;
}
.contentItem button:hover {

    color: var(--danger);

}
.contentItem input[type="checkbox"] {
    /* remove o estilo nativo */
    -webkit-appearance: none;
    appearance: none;
  
    /* tamanho e borda */
    width: 24px;
    height: 24px;
    border: 2px solid var(--blue);
    border-radius: 50%;
  
    /* posicional para o ::after */
    position: relative;
    cursor: pointer;
    transition: background 0.2s, border-color 0.2s;
  }
  
  /* estado marcado: fundo e borda roxo */
  .contentItem input[type="checkbox"]:checked  {
    background: var(--purple-dark);
    border-color: var(--purple-dark);
  }
  .contentItem input[type="checkbox"]:checked ~ p {
   text-decoration:line-through;
   color: var(--gray-300);
  }
  
  /* cria o “check” dentro do círculo */
  .contentItem input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 8px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  